.app-layout {
  display: flex;
  min-height: 100vh;
  background: var(--bg-base);
}

.app-layout-main-wrapper {
  flex: 1;
  margin-left: var(--nav-width);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout-content {
  flex: 1;
  overflow-y: auto;
}
