body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-base);
  color: var(--text-high);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  height: 100vh;
  display: flex;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.content-area {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}
